<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <main>
      <%- include('./partials/nav.ejs') %>

      <div class="not-found content">
        <h2>404 not found, you are lost!</h2>
      </div>

      <%- include('./partials/footer.ejs') %>
    </main>
  </body>
</html>
