@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #222222;
}
body {
  background: #f5f5f5;
  font-family: "Montserrat", serif;
  color: #222222;
}
main {
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 2rem);
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  font-size: 1rem;
  list-style-type: none;
  margin-left: 1.5rem;
}
nav h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a1a1a;
}
nav p,
nav a {
  color: #777;
  font-weight: 200;
}
footer {
  color: #777;
  text-align: center;
  margin: 6rem auto 2rem;
}

/* index styles */
.notes a {
  display: block;
  margin: 2rem 0;
  padding: 1rem;
  background: white;
  border-radius: 0.3rem;
  border-left: 0.6rem solid indigo;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
}
.notes a h2 {
  margin: 0 0 0.25rem 0;
}
.notes a:hover h2 {
  color: indigo;
}
h2.title {
  font-size: 1.2rem;
  margin: 0 0 0.1rem 0;
}
p.description {
  font-size: 1.1rem;
}

/* details styles */
.group {
  padding: 0 2.5rem 0 0;
}
.details {
  position: relative;
}
.delete {
  position: absolute;
  right: 1rem;
  border-radius: 50%;
  border: 1px #e6e6e6 solid;
  transform: translateY(-50%);
  top: 50%;
  padding: 0.5rem;
}
.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.delete > img {
  width: 1.5rem;
}

/* create styles */
div.create-note,
div.details {
  padding: 1rem;
  background: white;
  border-radius: 0.3rem;
  border-left: 0.6rem solid indigo;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
}
.create-note form {
  width: 100%;
  margin: 0 auto;
}
.create-note h1 {
  margin: 0 0 2rem 0;
}
.create-note input {
  background: #eeeeee;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  border: 0;
  outline: 0;
  margin-bottom: 2rem;
}
.create-note label {
  display: block;
  margin: 0 0 0.8rem;
}
.create-note button {
  background: indigo;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  border: 0;
  outline: 0;
  font-size: 1.2em;
  font-weight: 200;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
  cursor: pointer;
  transition: all 600ms ease;
}
.create-note button:hover {
  background: rgb(17, 2, 29);
}
